.root
{
-fx-background-color: #234343;
}
#box1{
-fx-background-color: #563445;
}
.button
{
-fx-background-color: white;
}
.label{
-fx-background-color: white;
}
.table-view, .tree-table-view {
    /* Constants used throughout the tableview. */
    -fx-background-color: yellow;
}

