.root {
-fx-background-color: #B3C6EF;
}

#box1{
-fx-background-color: #555E7B;
}

.button{
-fx-background-color: #B7D968;
}

.label{
-fx-color: #8BB6D6;
-fx-background-color: #555E7B;
}

.table-view, .tree-table-view {
    /* Constants used throughout the tableview. */
    -fx-background-color: #B576AD;
}

